<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hot-Samer</title>
    <style>
        body {
            text-align: center;
        }
    </style>

<script type = "text/javascript"
   src = "/static/js/jquery.min.js"></script>
</head>
<body>
<div>
    <div>
        <h1>hot-samer</h1>
        <div id="content">
                <form class="form-signin">
                    <h2 class="form-signin-heading">Please sign in</h2>
                    <input class="tuid" type="text" required name="email" placeholder="Email address">
                    <input class="msg" type="password" required name="password" placeholder="Password">
                    <label class="checkbox"></label>
                    <button class="email_submit_button" type="submit">Sign in</button>
                </form>
            <script type="text/javascript">
                $(".email_submit_button").submit(function (e) {
                    // stop form from submitting
                    e.preventDefault();
                    // Grab all values
                    var uemail = $('.tuid').val();
                    // make a POST ajax call
                    var msg = $('.msg').val();
                    $.ajax({
                        type: "POST",
                        url: '/delivery/'+uemail, // set your URL here
                        data: {
                            uemail: uemail // send along this data (can add more data separated by comma)
                        },
                        beforeSend: function (xhr) {
                            // maybe tell the user that the request is being processed
                            $("#status").show().html("<img src='images/preloader.gif' width='32' height='32' alt='processing...'>");
                        }
                    }).done(function (response) {
                        // do something with the received data/response
                        //$("#status").html(response);
                    });
                });
            </script>
        </div>
    </div>
</div>
</body>
</html>
