{% extends "base.html" %}

{% block body %}
    <div>
        <div class="title"> <h1>hot-samer</h1> </div>
        <div class="title">
            <ul>
                <li><a href="/">最新</a></li>
                <li><a href="/senses">最热</a></li>
                <li><a href="/fun">好玩</a></li>
                <li><a href="/photography">影像</a></li>
                <li><a href="/others">其他</a></li>
                <li><a href="/hottest-rank">周红人</a></li>
            </ul>
            <!--<h5><a href="/">最新</a> <a href="/senses">最热</a> <a href="/fun">好玩</a> <a href="/photography">影像</a> <a href="/others">其他</a></h5>-->
        </div>
        <div id="container">
            <script type="text/javascript">
                $.ajaxSetup({async: false});
                var main = "";
                $.getJSON('/hot-samer?offset=0&limit=1000', function (data) {
                    $.each(data, function (key, val) {
                        main += '<a target="_blank" href="/samer/' + val['author_uid'] + '"><img class="lazy" data-original="' + val['photo'] + '" src="/static/image/ajax-loader.gif" weight=512 height=256 /></a>';
                    });
                });
              document.getElementById("container").innerHTML = main;
            </script>
        </div>
    </div>
<script type="text/javascript" src="/static/js/scroll-load.js"></script>
{% end %}
