<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Hot-Samer</title>
    <style>
        body {
            text-align: center;
        }

        div.img {
            margin: 3px;
            border: 1px solid #bebebe;
            height: auto;
            width: auto;
            float: left;
            text-align: center;
        }

        div.img img {
            display: inline;
            margin: 3px;
            border: 1px solid #bebebe;
        }

        div.img a:hover img {
            border: 1px solid #333333;
        }

        div.desc {
            text-align: center;
            font-weight: normal;
            width: 150px;
            font-size: 12px;
            margin: 10px 5px 10px 5px;
        }
    </style>

<script type = "text/javascript"
   src = "/static/js/jquery.min.js"></script>
</head>
<body>
<div>
    <div>
        <h1>hot-samer</h1>
        <div id="content">
            <script type="text/javascript">
                $.ajaxSetup({async: false});
                var main = "";
                for (var i = 0; i < 10; i++) {
                    $.getJSON('/hot-samer?offset=' + i, function (data) {
                        $.each(data, function (key, val) {
//                            alert('====='+val['photo'])
                            if (val !== '') {
//                                main += '<div class="img"><a target="_blank" href="' + val['photo'] + '"> <img class="scrollLoading" xSrc="' + val['photo'] + '" src="/static/image/ajax-loader.gif" weight=512 height=256 style="background:url(http://images.cnblogs.com/cnblogs_com/Darren_code/302725/o_108.gif) no-repeat center;" /></a><div class="desc">在此处添加对图像的描述</div></div>';
                                main += '<a target="_blank" href="/samer/' + val['author_uid'] + '"> <img class="scrollLoading" xSrc="' + val['photo'] + '" src="/static/image/ajax-loader.gif" weight=512 height=256 style="background:url(http://images.cnblogs.com/cnblogs_com/Darren_code/302725/o_108.gif) no-repeat center;" /></a>';
                            }
                        });
                    });
                }
              document.getElementById("content").innerHTML = main;
            </script>
        </div>
    </div>
</div>
<script type="text/javascript">
    var scrollLoad = (function (options) {
        var defaults = (arguments.length == 0) ? { src: 'xSrc', time: 300} : { src: options.src || 'xSrc', time: options.time ||300};
        var camelize = function (s) {
            return s.replace(/-(\w)/g, function (strMatch, p1) {
                return p1.toUpperCase();
            });
        };
        this.getStyle = function (element, property) {
            if (arguments.length != 2) return false;
            var value = element.style[camelize(property)];
            if (!value) {
                if (document.defaultView && document.defaultView.getComputedStyle) {
                    var css = document.defaultView.getComputedStyle(element, null);
                    value = css ? css.getPropertyValue(property) : null;
                } else if (element.currentStyle) {
                    value = element.currentStyle[camelize(property)];
                }
            }
            return value == 'auto' ? '' : value;
        };
        var _init = function () {
            var offsetPage = window.pageYOffset ? window.pageYOffset : window.document.documentElement.scrollTop,
                offsetWindow = offsetPage + Number(window.innerHeight ? window.innerHeight : document.documentElement.clientHeight),
                docImg = document.images,
                _len = docImg.length;
            if (!_len) return false;
            for (var i = 0; i < _len; i++) {
                var attrSrc = docImg[i].getAttribute(defaults.src),
                    o = docImg[i], tag = o.nodeName.toLowerCase();
                if (o) {
                    postPage = o.getBoundingClientRect().top + window.document.documentElement.scrollTop + window.document.body.scrollTop; postWindow = postPage + Number(this.getStyle(o, 'height').replace('px', ''));
                    if ((postPage > offsetPage && postPage < offsetWindow) || (postWindow > offsetPage && postWindow < offsetWindow)) {
                        // if (tag === "img" && attrSrc !== null) {
                        //     o.setAttribute("src", attrSrc);
                        // }
                        if (attrSrc !== null) {
                          o.setAttribute("src", attrSrc);
                        }
                        o = null;
                    }
                }
            };
            window.onscroll = function () {
                setTimeout(function () {
                    _init();
                }, defaults.time);
            }
        };
        return _init();
    });
    scrollLoad();
</script>
</body>
</html>
