{% extends "base.html" %}

{% block body %}
    <div>
        <div id="container">
            <script type="text/javascript">
                $.ajaxSetup({async: false});
                var main = "";
                $.getJSON('/hot-samer?offset=0&limit=500&hot_level=2', function (data) {
                    $.each(data, function (key, val) {
                        main += '<a target="_blank" href="/samer/' + val['author_uid'] + '"><img class="lazy" data-original="' + val['photo'] + '" src="/static/image/ajax-loader.gif" weight=512 height=256 /></a>';
                    });
                });
              document.getElementById("container").innerHTML = main;
            </script>
        </div>
    </div>
<script type="text/javascript" src="/static/js/scroll-load.js"></script>
{% end %}
