{% extends "base.html" %}
{% block head %}
<title>Hot-Samer 寻找Samer</title>

    <script type="text/javascript">
    function clickSearch() {
        var keyword = document.getElementById("search-form").value;
        // remove the last search result div object
        var previous_results = document.getElementsByClassName("p-li");
        var i;
        for (i=0;i<previous_results.length;i++) {
            previous_results[i].remove();
        }

        document.getElementById("search-container").innerHTML = '<div id="loading-search"><h4>Loading...</h4></div>'
        // send request
        $.ajax({
            type: "POST",
            url: "/search",
            data: {"name": keyword, "format": "json"},
            dataType: "json",
            success: function (data) {
                // generate div element with the response data
                var main = "";
                document.getElementById("loading-search").remove(); // 结果出来后去除loading显示
                if (data.length == 0) {
//                    alert("傻逼傻逼");
                    document.getElementById("search-container").innerHTML = '<div class="p-li"><h5>没有找到, 尝试其他字符. 或hot-samer还未收录此相关samer, hot-samer会一直尝试更新</h5></div>';
                } else {
                    $.each(data, function (key, v) {
                        var val = v[1];
                        var sort_number = new Number(key) + 1;
                        main += '<li class="p-li">' +
                                '<div style="background: #93d6ef;" class="top-n">' + sort_number + '</div>' +
                                '<a href="val' + val['id'] + '" target="_blank" title="">' +
                                '<div class="pic left">' +
                                '<img class="img-circle" src="' + val['avatar'] + '" width=128 height=128 alt="Ballade"/>' +
                                '<p class="p-tags" >名字: ' + val['username'] + '</p>' +
                                '<p class="p-tags" >内容: ' + val['senses'] + '</p>' +
                                '<p class="p-tags">坐标: ' + val['timezone'] + '</p>' +
                                '<p class="p-tags">加入时间: ' + val['join_at'].split(" ")[0] + '</p>' +
                                '</div>' +
                                '</a></li>'
                    });
                    document.getElementById("search-container").innerHTML = main;
                }
            }
        });
    }
    </script>

{% end %}

{% block body %}
<div>
    <div class="col-md-6">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input name="name" id="search-form" type="text" class="form-control input-lg" placeholder="昵称任意字符, Ta的动态中的某个内容关键字"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="submit" onclick="clickSearch()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
            </div>
        </div>
    </div>
</div>
<div id="lazyload">
    <div id="search-container">
    </div>
</div>
{% end %}
