{% extends "base.html" %}

{% block body %}
    <div>
        <div>
            {% if not profile_list and from_search_page %}
                <h5> 没有找到, 尝试其他字符. 或hot-samer还未收录此相关samer, hot-samer会一直尝试更新</h5>
            {% elif not profile_list %}
                <p> Same 服务器忙</p>
            {% else %}
                {% for idx, (uid, profile) in enumerate(profile_list) %}
            <li class="p-li">
                <div style="background: #93d6ef;" class="top-n">{{ idx + 1 }}</div>
                    <a href="/samer/{{ uid }}" target="_blank" title="">
                    <div class="pic left">
                        <img class="img-circle" src="{{ profile['avatar'] }}" width=128 height=128 alt="Ballade"/>
                        <p class="p-tags" >名字: {{ profile['username'] }}</p>
                        <p class="p-tags" >内容: {{ profile['senses'] }}</p>
                        {% if 'likes_count' in profile %}
                        <p class="p-tags">同感数: {{ profile['likes_count'] }}</p>
                        {% end %}
                        <p class="p-tags">坐标: {{ profile['timezone'] }}</p>
                        <p class="p-tags">加入时间: {{ profile['join_at'].split()[0] }}</p>
                    </div>
                    </a></li>
                {% end %}
            {% end %}

        </div>
    </div>
{% end %}
