{% extends "base.html" %}

{% block body %}
    <div>
        <div id="content" class="title">
            {% if not profile %}
                <p> Same 服务器忙 或 用户已被注销(假如多次刷新无结果)</p>
            {% else %}
            <li class="p-li">
                    <a href="/letter/{{ profile['id'] }}"><div style="background: #93d6ef;" class="top-n">私信</div></a>
                    <a href="{{ profile['avatar'] }}" target="_blank" title="">
                    <div class="pic left">
                        <img class="img-circle" src="{{ profile['avatar'] }}" width=128 height=128 alt="Ballade"/>
                        <p class="p-tags" >名字: {{ profile['username'] }}</p>
                        <p class="p-tags" >内容: {{ profile['senses'] }}</p>
                        <p class="p-tags">坐标: {{ profile['timezone'] }}</p>
                        <p class="p-tags">加入时间: {{ profile['join_at'].split()[0] }}</p>
                    </div>
                    </a>
            </li>
            {% end %}
        </div>
    </div>
    <div>
        <div class="little_title"><h4>Ta的图文动态</h4></div>
        <div class="title">
            {% if not latest_news %}
            <p>Same 服务器忙</p>
            {% else %}
            {% for new in latest_news %}
                <div class="title">

                {% if 'photo' in new %}
                <a href="{{ new['photo'] }}"><img src="{{ new['photo'] }}" weight=512 height=256/></a>
                {% else %}
                    {% continue %}
                {% end %}

                    {% if 'txt' in new %}
                    <p class="p-tags-center">{{ new['txt'] }}</p>
                    {% end %}

                    {% if new['likes'] > 0 %}
                    <p class="p-tags-center">likes: {{ new['likes'] }}</p>
                    {% end %}

                    <p class="p-tags-center">频道: {{ new['channel']['name'] }}</p>
                    <p class="p-tags-center">{{ new['created_at'] }}</p>
                </div>
            </div>
            {% end %}
            {% end %}
        </div>
    </div>
{% end %}
